 
    <form method="post" action="/register">  
        <div class="container">  
            <label>Email : </label>   
            <input type="text" placeholder="Enter Email" name="email" required>     
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">register</button>   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>  